{% extends "_layout.twig" %}

{% set last = feed.latestCheck() %}
{% set prev = feed.previousCheck() %}

{% block main %}
  <h1>{{ feed.url }}</h1>

  {% if not feed.confirmed %}
    <p>Check your email for a link to activate this monitor.</p>
  {% else %}
    {% if last %}
      <p>Last checked {{ last.updated_at.diffForHumans() }}, {{ last.status }} and {{ last.is_valid ? 'valid' : 'invalid' }}.</p>
    {% endif %}
    {% if prev %}
      <p>Previously checked {{ prev.updated_at.diffForHumans() }}, {{ prev.status }} and {{ prev.is_valid ? 'valid' : 'invalid' }}.</p>
    {% endif %}
    <pre>{{ feed | json_encode }}</pre>
  {% endif %}
  <form action="{{ feed.deleteAction() }}" method="post">
    {{ csrf_field() }}
    <button name="delete" value="delete" class="danger">
      {{ 'Delete' }}
    </button>
  </form>
{% endblock %}